* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
  background-color: #000101;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
#cabecalho
{  
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#cabecalho_nav
{
    margin-left: 15vw;
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 40px;
}
.cabecalho_nav_link
{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
.cabecalho_nav_link:hover
{
    color: #22d5fdaf;
    transition: 0.3s;
}
#apresentacao
{   
    flex: 1;
    padding: 8% 10%;
    display: flex;
    justify-content: center; /*alinhamento horizontal*/
    gap: 8vw;
}
#apresentacao__textos
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    max-width: 50%;
}
h1 
{   
    font-family: 'Krona one';
    font-size: 1.87rem;
    font-weight: 400;
    color: #f6f6f6;
   
}
#destaque_title
{
    color: #22D4FD;
}
.textos_sobre
{
    font-size: 1rem;
    color: #f6f6f6;
    font-family: 'Montserrat';
    font-weight: 200;
}

.foto__perfil
{
    width: 80%;
}

#rodape
{
    box-sizing: border-box;
    background-color: #22D4FD;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 25px;
}
#rodape_texto
{
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
}


@media (max-width: 950px){
    .cabecalho_nav_link{
        font-size: 0.8rem;
    }
    #title {
        font-size: 1rem;
    }
    .textos_sobre{
        font-size: 0.7rem;
    }
    #apresentacao{
        flex-direction: column-reverse;
        gap: 5vh;
    }
    .apresentacao__section{
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto__perfil{
        width: 60%;
    }
    #rodape_texto
    {
        font-size: 0.8rem;
    }
}