* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
  background-color: #000101;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
#cabecalho
{  
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#cabecalho_nav
{
    padding-left: 10%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.cabecalho_nav_link
{
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
.cabecalho_nav_link:hover
{
    color: #22d5fdaf;
    transition: 0.3s;
}
#apresentacao
{   
    flex: 1;
    padding: 8% 10%;
    display: flex;
    justify-content: center; /*alinhamento horizontal*/
    gap: 8vw;
   
}
#apresentacao__textos
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    max-width: 50%;
}
#title
{   
    font-family: 'Krona one';
    font-size: 1.87rem;
    font-weight: 400;
    color: #f6f6f6;
   
}
#destaque_title
{
    color: #22D4FD;
}
.textos_sobre
{
    font-size: 1rem;
    color: #f6f6f6;
    font-family: 'Montserrat';
    font-weight: 200;
}
.apresentacao__img
{
    max-width: 50%;
}
.foto__perfil
{
    width: 80%;
}
#links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#links_titulo
{
    font-family: 'Krona one', sans-serif;
    color: #f6f6f6;
    font-size: 1.125rem;
    font-weight: 400;
}
.links_link
{
    font-family: 'Montserrat';
    font-weight: 500;
    color: #f6f6f6;
    text-align: center;
    padding: 16px;
    border: 1px solid #22D4FD;
    border-radius: 8px;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.links_link:hover
{
    cursor: pointer;
    transition: 0.3s;
    background-color: #1d1d1d;
}
.links_link_img
{
    height: 20px;
    width: 20px;
}
#rodape
{
    box-sizing: border-box;
    background-color: #22D4FD;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 25px;
}
#rodape_texto
{
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
}


@media (max-width: 950px){
    .cabecalho_nav_link{
        font-size: 0.8rem;
    }
    #title {
        font-size: 1rem;
    }
    .textos_sobre{
        font-size: 0.7rem;
    }
    #apresentacao{
        flex-direction: column-reverse;
        gap: 5vh;
    }
    .apresentacao__section{
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto__perfil{
        width: 60%;
    }
    
    #links_titulo{
        font-size: 0.8rem;
    }
    .links_link{
        width: 60vw;
        font-size: 0.8rem;
        padding: 8px;
    }
    .links_link_img{
        width: 15px;
        height: 15px;
    }
}